@font-face {
  font-family: 'Helvetica';
  src: url('../fonts/Helvetica-Bold.woff2') format('woff2'),
  url('../fonts/Helvetica-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Helvetica';
  src: url('../fonts/Helvetica.woff2') format('woff2'),
  url('../fonts/Helvetica.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
body {
  font-family: 'Helvetica';
  font-weight: normal;
  font-size: 24px;
  line-height: 26px;
  background-color: #3D62FF;
  margin: 0px;
  padding: 0px;
  justify-content: space-between;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  max-height: -webkit-fill-available;
  height: calc(var(--vh, 1vh) * 100);
  padding: 110px 80px 100px 80px;
  box-sizing: border-box;
}
a {
  color: inherit;
  text-decoration: none;
  transition: opacity .3s, color .3s;
}
a:hover {
  /* opacity: 0.6; */
  color: #3D62FF;
}
header {
  display: flex;
  flex-wrap: nowrap;
  flex-shrink: 0;
  align-content: flex-start;
  justify-content: flex-start;
  align-items: flex-start;
}
.logo {
  width: 150px;
  padding: 10px;
  position: absolute;
  left: 130px;
  top: 100px;
}
.next {
  font-size: 50px;
  line-height: 50px;
  padding: 2px 6px 2px 3px;
  display: inline-block;
}
main {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  flex-direction: column;
}
.coming-soon {
  display: block;
  animation: bubble 4s linear infinite;
  animation-delay: .3s;
  -webkit-transform: translateZ(0);
	-moz-transform: translateZ(0);
}
.date {
  font-size: 20px;
  line-height: 20px;
  display: block;
}
main span:nth-of-type(2) {
  margin-left: 124px;
}
main span {
  font-size: 36px;
  line-height: 38px;
  padding: 2px 10px 4px 10px;
}
footer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-bottom: 10px;
}
footer > div {
  /* margin: 10px; */
  padding: 4px 14px 3px 7px;
}
footer > div:nth-of-type(1) {
  font-size: 32px;
  line-height: 33px;
}
footer > div:nth-of-type(2) {
  margin-left: 145px;
}
footer > div:nth-of-type(3) {
  margin-left: 330px;
}
/* color #3D62FF */
.bg-square {
  background-image: url("../img/bg/bg-square.svg");
  background-repeat: no-repeat;
}
.bg-rectangule-01 {
  background-image: url("../img/bg/rectangule-01.svg");
  background-repeat: no-repeat;
}
.bg-rectangule-02 {
  background-image: url("../img/bg/rectangule-02.svg");
  background-repeat: no-repeat;
}
.bg-rectangule-03 {
  background-image: url("../img/bg/rectangule-03.svg");
  background-repeat: no-repeat;
}
.bg-rectangule-04 {
  background-image: url("../img/bg/rectangule-04.svg");
  background-repeat: no-repeat;
}
.program-wide {
  background-image: url("../img/bg/program-wide.svg");
  background-repeat: no-repeat;
}
.program-square {
  background-image: url("../img/bg/program-square.svg");
  background-repeat: no-repeat;
}
.bg-next {
  background-image: url("../img/bg/bg-next.svg");
  background-repeat: no-repeat;
}

.bg {
  background-size: cover;
  background-position: right;
}
.bg-full {
  background-size: cover;
  background-position: right;
}
.bg-right {
  background-position: right;
}
@keyframes bubble {
       0% {
          transform: translate(0px,0px);
        }
        50% {
          transform: translate(0px,7px);
        }
        100% {
          transform: translate(0px,0px);
        }
}
@media screen and (max-width: 1024px) {
  body {
    padding: 50px;
  }
  .logo {
    left: 40px;
    top: 40px;
  }
}
@media screen and (max-width: 860px) {
  .next {
    font-size: 40px;
    line-height: 40px;
  }
  main span {
    font-size: 32px;
    line-height: 32px;
  }
  main span:nth-of-type(2) {
    margin-left: 111px;
  }
  footer > div:nth-of-type(1) {
    font-size: 30px;
    line-height: 30px;
  }
  body {
    font-size: 22px;
    line-height: 22px;
  }
}
@media screen and (max-width: 768px) {
  header {
    display: flex;
    flex-wrap: nowrap;
    flex-shrink: 0;
    align-content: flex-start;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    width: 100%;
  }
  .logo {
    left: 40px;
    top: 40px;
    position: static;
    margin-bottom: 30px;
  }
}
@media screen and (max-width: 600px) {
  body {
    font-size: 14px;
    line-height: 14px;
    padding: 40px;
  }
  footer > div:nth-of-type(1) {
    font-size: 18px;
    line-height: 18px;
  }
  footer > div:nth-of-type(2) {
    margin-left: 82px;
    margin-top: 15px;
  }
  footer > div:nth-of-type(3) {
    margin-left: 186px;
    margin-top:  15px;
  }
}

@media screen and (max-width: 420px) {
  .next {
    font-size: 30px;
    line-height: 30px;
  }
}
@media screen and (max-width: 395px) {
  footer > div:nth-of-type(2) {
    margin-left: 63px;
    margin-top: 15px;
  }
  footer > div:nth-of-type(3) {
    margin-left: 152px;
    margin-top:  15px;
  }
}
@media screen and (max-width: 360px) {
  body {
    padding: 25px;
  }
  .next {
    font-size: 34px;
    line-height: 34px;
    padding: 2px 6px 2px 3px;
  }
}
